header {
    background-color: #FFD700;
    padding: 0.5rem 0;
    width: 100%;
}

header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .links a {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 0.5rem;
    color: #000;
}

header .links select {
    border: 1px solid #000;
    border-radius: 2.5rem;
    padding: 0.25rem 0;
}