.title {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.title h1 {
  color: var(--title-color);
}

.articleCard {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  width: 300px;
  cursor: pointer;
  color: #fff;
  padding-bottom: 1rem;
}

.articleImage {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.articleCard h2,
.articleCard p {
  padding-left: 1rem;
}

.cardInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.cardInfo i {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.cardInfo small {
  display: flex;
  align-self: end;
}

.articlesList {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  .articleCard {
    width: 250px;
  }
}

@media (max-width: 460px) {
  .title {
    justify-content: center;
  }

  .title img {
    display: none;
  }
}
